body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 16px;
}


#canvas-container {
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
  position: absolute;
  left: 45%;
  top: 60%;
  transform: translate(-50%, -50%);
  resize: none;
}

@media (min-width: 768px) {
  #canvas-container {
    width: 60vw;
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  #canvas-container {
    width: 50vw;
    height: 70vh;
  }
}


#canvas {
  border: 5px solid rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 70%;
  border-radius: 16px;
  resize: none;
  border-radius: 0rem;
  /*transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}

.canvas:hover #container-stars {
  z-index: 1;
  background-color: #ab0505;
}

.cavas:hover {
  transform: scale(1.1)
}

.canvas:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.canvas:active .circle {
  background: #FE53BB;
}


#start-game-btn,
#join-game-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

#start-game-btn:hover,
#join-game-btn:hover {
  background-color: #ccc;
}

#name {
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 20px;
  width: 200px;
}

#name:focus {
  outline: none;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 11ex;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: bold;
  color: #ccc;
  text-shadow: 4px 4px 8px rgb(241, 0, 0);
}

#countdown2 {
  position: absolute;
  top: 48%;
  left: 25ex;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-weight: bold;
  color: #ccc;
  font-style: italic;
  text-shadow: 4px 4px 8px rgb(241, 0, 0);
}

#player-scores {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 2px 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.player-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  margin-bottom: 5px;
  margin-top: -50px;
}

.score {
  background-color: rgb(34, 34, 34);
  padding: 5px 10px;
  border-radius: 5px;
}

.chat-container {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  resize: none;
}

.card {
  width: 450px;
  background-color: #00000000;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.online-users {
  margin-left: 55ex;
  top: 0%;
  position: absolute;
  width: 80px;
  height: 670px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding-right: 5%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

}

.chat-header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #020000;
  left: 1000px;
  color: #ffffff;
  align-content: center;
  margin-left: 48%;
  padding-top: 5%;
  font-style: italic;
  font-size: 28px;
  font: bold;
}

.chat-window {
  height: 580px;
  overflow-y: auto;
  scroll-behavior: auto;
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-color: #000;
  border-bottom-left-radius: 16px;
}

.message-list {
  font-size: 17px;
  color: #8F51EA;
  margin-left: 2px;
  border-radius: 12em;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: 8px;
  display: block;
  word-break: break-all;
}

.sent {
  margin-left: 240px;
  border-radius: 16px;
  padding-right: 10px;
  background-color: #1c1c1c;
}

.received {
  margin-right: 240px;
  padding-right: 10px;
  border-radius: 16px;
  background-color: #1c1c1c;

}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #000000;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 8px;

}

.send-button {
  border: none;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px auto;
  margin-left: 15px;
}

.btn {
  margin-top: 6%;
  left: 37%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 6rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  backdrop-filter: blur(2rem);
  border-radius: 5rem;
  align-items: center;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 38px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 2s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}


#stars {
  position: relative;
  background: transparent;
  left: 200px;
  width: 3000px;
  height: 3000px;
}

#stars::after {
  content: "";
  position: absolute;
  top: -800px;
  left: -10%;
  width: 100%;
  height: 100%;
  animation: animStarRotate 120s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 0.5px, transparent 1%);
  background-size: 130px 130px;
}

#stars::before {
  content: "";
  position: absolute;
  top: -250px;
  left: -10%;
  width: 100%;
  height: 100%;
  animation: animStar 120s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 0.5px, transparent 1%);
  background-size: 70px 70px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(140deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}